<div class="greet_user mt-8">
    <div class="index flex flex-col justify-center items-center">
        <form action="/greetings" method="POST" class="w-full max-w-md p-6 bg-pink rounded-lg shadow-lg">
            <p class="text-center text-gray-700 text-4xl py-2">Greet Me Widget!</p>
            <div class="">
                <label class="block text-gray-700 text-md mb-2" for="username">
                    Enter Your Name:
                </label>
                <input type="text" name="nameInput"
                    class="shadow border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline mb-4">

                <div class="px-7 justify-center mb-4">
                    <input type="radio" name="language" class="langauges" value="english">
                    <label class="text-gray-700 text-md mb-2 hover:text-gray-100" for="english">English</label>
                    <input type="radio" name="language" class="langauges" value="isiXhosa">
                    <label class="text-gray-700 text-md mb-2 hover:text-gray-100" for="isiXhosa">IsiXhosa</label>
                    <input type="radio" name="language" class="langauges" value="swahili">
                    <label class="text-gray-700 text-md mb-2 hover:text-gray-100" for="swahili">Swahili</label>
                </div>

                <div class="grid justify-center mb-4">
                    <button
                        class="shadow bg-purple-600 hover:bg-purple-800 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                        type="submit"> Greet Me! </button>
                </div>

                <div class="greet_display text-center mt-4 bg-purple-200">
                    {{#if theGreeting}}
                    <span>{{theGreeting}}</span>
                    {{else}}
                    {{#if error_messages}}
                    <div
                        class="border border-solid border-red-500 py-4 px-4 bg-red-200 bg-no-repeat bg-center text-red-700">
                        <span>{{error_messages}}</span>
                    </div>
                    {{/if}}
                    {{/if}}
                    {{#if reset_message}}
                    <div class="border border-solid border-green-500 mx-auto p-4 bg-green-200 bg-no-repeat bg-center text-green-700">
                        <span>{{reset_message}}</span>
                    </div> 
                    {{/if}}
                </div>
            </div>
            <div class="text-center text-4xl mt-4 p-4 rounded">
                <span>
                    {{counter}}
                </span>
            </div>
        </form>

        <div class="space-evenly">

            <a href="/greeted"
                class="greeted-button px-4 py-2 rounded-full border-2 border-primary text-gray-700 hover:bg-primary hover:text-white">
                View Greeted Names
            </a>
            <form action="/reset" method="post" style="display: inline;">
                <button type="submit"
                    class="reset-button mt-2 bg-white text-gray-700 border-2 border-primary px-4 py-2 rounded-full ml-4 hover:bg-neutral-700 hover:text-white">

                    Reset
                </button>
            </form>
        </div>
    </div>
</div>